@use "../base";

@mixin evolutionChainDivs {
  padding: 10px 0;
  width: 100%;
  height: 150px;
  @include base.flex(space-around);

  &_sprite {
    height: 100%;
  }
}

.pokemon {
  width: 90%;
  max-width: 500px;
  text-align: center;
  filter: drop-shadow(0 0 5px #00000070);

  &__main-info {
    background: #4646eb;
    border-bottom-width: 1px;
    border-radius: 10px 10px 0 0;
    text-shadow: 0 0 10px #000; 
  }

  &__name {
    padding: 20px 0 5px;
    font-size: 1.5rem;
  }

  &__id {
    font-size: 1.1rem;
  }

  &__sprite {
    margin: 10px auto;
    width: 100%;
  }

  &__types {
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 20px;
  }

  &__other-info {
    color: base.$black;
    border-radius: 0 0 10px 10px;
    border-top: 0;
    padding: 20px 0 5px;
    background: base.$other-info-bg;

    &_article {
      margin: 0 auto 15px;
      width: 90%;
      border-radius: 7px;
      border: 1px solid base.$other-info-article;
    }

    &_title {
      font-size: 1.2rem;
      padding: 2px;
      color: base.$white;
      border-radius: 5px 5px 0 0;
      width: 100%;
      background: base.$other-info-article;
    }

    &_evolutions {
      height: 150px;
    }
  }

  &__stat {
    border-radius: 3px;
    width: 95%;
    background: base.$stat-bg;
    margin: 10px auto;
    height: 25px;

    &_bar {
      position: relative;
      height: 100%;
      border-radius: 3px 0 0 3px;
    }

    &_hp {
      background: base.$hp-bg;
      width: 21.56%;
    }

    &_attack {
      background: base.$atk-bg;
      width: 17.64%;
    }

    &_defense {
      background: base.$def-bg;
      width: 17.64%;
    }

    &_sp-attack {
      background: base.$spatk-bg;
      width: 9.8%;
    }

    &_sp-defense {
      background: base.$spdef-bg;
      width: 9.8%;
    }

    &_speed {
      background: base.$speed-bg;
      width: 5.88%;
    }

    &_info {
      padding-left: 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      font-size: 0.8rem;
      white-space: nowrap;
    }
  }

  &__abilities {
    &_names {
      padding: 8px;
      
      &-normal {
        font-size: 1rem;
      }
      &-hidden {
        font-size: 1rem;
        margin-top: 5px;

        &:after {
          content: attr(data-after); 
          color: base.$hidden-ability;
          text-transform: none;
        }
      }
    }
  }

  &__evolves-to,
  &__evolves-from {
    @include evolutionChainDivs;
  }

  &__no-evolutions-msg {
    padding: 30px; 
    display: none;
  }

  &__name, &__id, &__types, &__abilities_names-normal, &__abilities_names-hidden {
    text-transform: capitalize;
  }
}