@use "../base";

@mixin evolutionChainDivs {
  padding: 10px 0;
  width: 100%;
  height: 150px;
  @include base.flex(space-around);

  &_sprite {
    height: 100%;
  }
}

.pokemon {
  width: 90%;
  max-width: 600px;
  text-align: center;

  &__main-info {
    background: #4646eb;
    border: base.$main-border;
    border-bottom-width: 1px;
    border-radius: 10px 10px 0 0;
  }

  &__name {
    padding-top: 20px;
  }

  &__sprite {
    width: 100%;
  }

  &__types {
    font-weight: 600;
    margin-bottom: 15px;
  }

  &__other-info {
    color: base.$black;
    border: base.$main-border;
    border-radius: 0 0 10px 10px;
    border-top: 0;
    padding-top: 20px;
    background: base.$other-info-bg;

    &_article {
      margin: 0 auto 15px;
      width: 90%;
      border-radius: 7px;
      border: 1px solid base.$other-info-article;
    }

    &_title {
      color: base.$white;
      border-radius: 5px 5px 0 0;
      width: 100%;
      background: base.$other-info-article;
    }
  }

  &__stat {
    border-radius: 3px;
    width: 95%;
    background: base.$stat-bg;
    margin: 10px auto;
    height: 25px;

    &_bar {
      position: relative;
      height: 100%;
      border-radius: 3px 0 0 3px;
    }

    &_hp {
      background: base.$hp-bg;
      width: 21.56%;
    }

    &_attack {
      background: base.$atk-bg;
      width: 17.64%;
    }

    &_defense {
      background: base.$def-bg;
      width: 17.64%;
    }

    &_sp-attack {
      background: base.$spatk-bg;
      width: 9.8%;
    }

    &_sp-defense {
      background: base.$spdef-bg;
      width: 9.8%;
    }

    &_speed {
      background: base.$speed-bg;
      width: 5.88%;
    }

    &_info {
      padding-left: 10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      font-size: 0.8rem;
      white-space: nowrap;
    }
  }

  &__abilities {
    &_names {
      padding: 8px;
      font-size: 0.9rem;

      &-hidden {
        margin-top: 5px;

        &:after {
          content: " (hidden)";
          color: base.$hidden-ability;
        }
      }
    }
  }

  &__evolves-to,
  &__evolves-from {
    @include evolutionChainDivs;
  }
}
