@use "../base";

.randomize-pokemon {
  margin: 10px auto 20px;
  width: 90%;
  max-width: 270px;
  box-shadow: base.$box-shadow;

  &__button {
    @include base.flex(space-evenly, center);
    height: 35px;
    background: base.$button;
    border-radius: 5px;
    font-weight: 600;
  }

  &__icon {
    height: 23px;
  }
}
