@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@mixin flex($justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

// miscellaneous
$primary-red: #dc0f0f;
$secondary-red: #8b0100;
$white: #fff;
$black: #000;
$font: "Montserrat", sans-serif;

// form
$button: #313131;

// pokemon section
$main-border: 2px solid #161616;
$other-info-bg: #dadada;
$other-info-article: #2b2b2b;
$stat-bg: #aeaeae;
$hp-bg: #ff5959;
$atk-bg: #f5ac78;
$def-bg: #fae078;
$spatk-bg: #9db7f5;
$spdef-bg: #a7db8d;
$speed-bg: #fa92b2;
$hidden-ability: #929292;
$link: #4747ff;
