@use "./_base";
@import "./_header";
@import "./main/_main";
@import "./main/_form";
@import "./main/_pokemon";
@import "./_footer";
@import "./_responsive";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  color: base.$white;
  font-family: base.$font;
  font-weight: normal;
  background: linear-gradient(to bottom, base.$primary-red, base.$secondary-red);
}

.error-msg {
  margin-bottom: 20px;
  font-size: 1.35rem;
  text-shadow: 0 0 10px #000; 
  display: none;
}
