@use "./_base";
@import "./_header";
@import "./main/_main";
@import "./main/_form";
@import "./main/_pokemon";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  color: base.$white;
  font-family: base.$font;
  font-weight: normal;
  min-height: 100vh;
  background: linear-gradient(to bottom, base.$primary-red, base.$secondary-red);
}
